<?xml version="1.0" encoding="UTF-8"?>
<!--根节点-->
<beans>
    <!--子节点对应每个java类-->
    <!--id 唯一标识   class 对应类的包名+类名-->
    <bean id="myredwineservice" class="com.igeek.service.impl.RedWineServiceImpl"></bean>
    <bean id="myredwinedao" class="com.igeek.dao.impl.RedWineDaoImpl"></bean>

    <bean id="dataservice" class="com.igeek.service.impl.DateServiceImpl"></bean>
    <bean id="datadao" class="com.igeek.dao.impl.DataDaoImpl"></bean>
    <!--Service-->
    <bean id="userservice" class="com.igeek.service.imp.UserServiceImpl"></bean>
    <bean id="userdao" class="com.igeek.dao.imp.UserDaoImpl"></bean>

    <bean id="lettersService" class="com.igeek.service.imp.LettersServiceImpl"></bean>
    <bean id="lettersDao" class="com.igeek.dao.imp.LettersDaoImpl"></bean>

</beans>