
.home-02 .login-submit input[type="submit"],
.home-02 .btn-default.active.focus, 
.home-02 .btn-default.active:hover, 
.home-02 .btn-default.active:focus, 
.home-02 .btn-default.focus:active, 
.home-02 .btn-default:active:focus, 
.home-02 .btn-default:active:hover, 
.home-02 .open > .dropdown-toggle.btn-default.focus, 
.home-02 .open > .dropdown-toggle.btn-default:focus, 
.home-02 .open > .dropdown-toggle.btn-default:hover, 
.home-02 .btn-default.active, .btn-default:active, 
.home-02 .open > .dropdown-toggle.btn-default,
.home-02 .bootstrap-select > .dropdown-toggle,
.home-02 .bootstrap-select.btn-group .dropdown-menu,
.home-02 .shop-item .widget_shopping_cart_content .buttons a:hover,
.home-02 .cart-control .cart-number {
    background-color: #92a86b;
}
.home-02 .shop-item .widget_shopping_cart_content .buttons a:hover,
.home-02 .home-slider .owl-nav div:hover,
.home-02 .mega-item .menu-title:after,
.home-02 .shop-item .widget_shopping_cart_content .total,
.home-02 .footer-item .tags_clound ul li a:hover {
    border-color: #92a86b;
}
.home-02 .dropdown-menu > li > a:focus, 
.home-02 .dropdown-menu > li > a:hover {
    background-color: #82965f;
}
.home-02 .site-header{
    background: #fff;
}

.home-02 .header-menu{
    padding-top: 0px;
    background: transparent;
    width: 100%;
    background: transparent;
}
.home-02 .main-menu{
    padding-top: 11px;
    border-top: 1px solid #d7d7d7;
}
.home-02 .main-menu > ul > li > a {
    padding-bottom: 12px;
}
.home-02.sticky-bg .header-menu{
    background: rgba(255, 255, 255, 0.9);
}
.home-02 .right-header ul li a{
    color: #363636;
}
.home-02 .main-menu > ul > li > a{
    color: #363636;
}
.home-02 .top-header-content{
    position: relative;
}
.home-02 .left-header{
    left: 0;
    top: 0;
}
.home-02 .right-header{
    right: 0;
    top: 0;
}
.home-02 .main-menu .sub-menu li:hover > a,
.home-02 .main-menu > ul > li:hover > a, 
.home-02 .main-menu ul li.current-menu-item > a,
.home-02 a:hover,
.home-02 .modal-footer a:hover,
.home-02 .right-header ul li a:hover,
.home-02 .shop-item ul.cart_list > li .p-info .price,
.home-02 .shop-item ul.cart_list > li .p-info a.p-title:hover,
.home-02 .shop-item .widget_shopping_cart_content .total .woocommerce-Price-amount,
.home-02 .home-slider .owl-nav .owl-next:hover:before,
.home-02 .home-slider .owl-nav .owl-prev:hover:before,
.home-02 .site-bottom .social ul li a:hover,
.home-02 .footer-item .tags_clound ul li a:hover,
.home-02 .bot-footer ul li a:hover,
.home-02 .left-header .icon_setting:hover,
.home-02 .setting-wrap ul.setting-account-list li a:hover, 
.home-02 .currency ul li a:hover {
    color: #92a86b;
}
.home-02.sticky-bg .header-menu .main-menu{
    border: none;
}
.home-02 .site-main{
    padding-top: 0;
}
.home-02 .home-slider .owl-nav div{
    left: -80px;
    color: #363636;
}
.home-02 .home-slider .owl-nav .owl-next {
    left: auto;
    right: -80px;
}
.home-02 .home-slider .owl-nav .owl-next::before,
.home-02 .home-slider .owl-nav .owl-prev::before{
    color: #363636;
}
.home-02 .home-slider-item .slider-content h2,
.home-02 .home-slider-item .slider-content h3,
.home-02 .home-slider-item .slider-content span {
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}
.home-02 .home-slider .slider-content span{
    color: #d7d7d7;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-right: 100px;
}
.home-02 .home-slider .slider-content h2{
    color: #fff;
    font-size: 100px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 60px;
    margin-left: 100px;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
}
.home-02 .home-slider .slider-content h3{
    color: #92a86b;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-right: 100px;
    transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
}
.home-02 .welcome-box .welcome-thumb {
    width: 230px;
    height: 230px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    background: #FFF;
    padding: 5px;
    overflow: hidden;
}
.home-02 .welcome-box .welcome-thumb img {
    border-radius: 50%;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.home-02 .welcome-box .welcome-thumb:hover img {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.home-02 .welcome-box .text_content {
    margin-top: 45px;
}
.home-02 .home-slider-item.active .slider-content h2,
.home-02 .home-slider-item.active .slider-content h3,
.home-02 .home-slider-item.active .slider-content span {
    opacity: 1;
    visibility: visible;
}
.home-02 .home-slider-item.active .slider-content h2 {
    margin-left: 0;
}
.home-02 .home-slider-item.active .slider-content h3,
.home-02 .home-slider-item.active .slider-content span {
    margin-right: 0;
}
.home-02 .welcome-box .title_heading {
    font-size: 100px;
    line-height: 80px;
    color: #92a86b;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}
.home-02 .welcome-box .after-heading {
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    color: rgb(54, 54, 54);
    margin: 0px;
}
.home-02 .welcome-box .after-heading:before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    background: rgb(219, 221, 224);
}
.home-02 .welcome-box .after-heading:after{
    content: "";
    display: inline-block;
    width: 45px;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    background: rgb(219, 221, 224);
}
.home-02 .welcome-box .title_main_text {
    margin-bottom: 50px;
}
.home-02 .welcome-box .sub_title_heading {
    font-size: 36px;
    line-height: 30px;
    color: rgb(137, 137, 137);
    font-family: philosopher;
}
.home-02 .home-testimonial .name {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #92a86b;
    margin-bottom: 15px;
}
.home-02 .home-testimonial .title_h2_before {
    font-size: 12px;
    line-height: 8px;
    color: rgb(137, 137, 137);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home-02 .home-testimonial .show_mt_post:before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    margin-top: -40px;
    background: rgb(219, 221, 224);
}
.home-02 .home-testimonial .show_mt_post:after{
    content: "";
    display: inline-block;
    width: 45px;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    margin-top: -40px;
    background: rgb(219, 221, 224);
}
.home-02 .home-testimonial .test-content {
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    color: rgb(137, 137, 137);
    padding: 5px 0px;
    margin-top: 45px;
}
.home-02 .home-testimonial .test-img img{
    width: auto;
    display: inline-block;
}
.home-02 .home-testimonial .test-img {
    text-align: center;
}
.home-02 .home-testimonial .show_mt_post {
    font-weight: bold;
    font-size: 72px;
    line-height: 30px;
    color: #92a86b;
    margin-top: 75px;
    margin-bottom: 35px;
}
.home-02 .home-testimonial .owl-dots {
    top: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.home-02 .home-testimonial .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    height: 4px;
    background: #e5e5e5;
}
.home-02 .home-testimonial .owl-dots .active {
    background: #92a86b;
}
.home-02 .title-box h2{
    color: #92a86b;
}
.home-02 .welcome-box{
    padding: 80px 0;
}

.home-02 .featured-tab-heading ul li a.active,
.home-02 .featured-tab-heading ul li a:hover{
    color: #92a86b;
}
.home-02 .hover-p .p-thumb {
    border-color: #92a86b;
}
.home-02 .button:hover {
    border-color: #92a86b;
    background-color: #92a86b;
    color: #fff;
}
.home-02 .featured-box .p-info .price {
    color: #92a86b;
}

.home-02 .btn-circle:hover:after{
    -webkit-animation: sonarEffect2 1.3s ease-out 75ms;
    -moz-animation: sonarEffect2 1.3s ease-out 75ms;
    animation: sonarEffect2 1.3s ease-out 75ms;
}
.home-02 .p-thumb .onnew:after,
.home-02 .p-thumb .onnew{
    background: #92a86b;
}
.home-02 .btn-viney:hover{
    background: #92a86b;
    border-color: #92a86b;
    color: #FFF;
}
.home-02 .infor-us{
    margin-bottom: 0;
}
.home-02 .banner-box {
    padding: 80px 0;
}
.home-02 .banner-box .banner-text h2{
    color: #92a86b;
    font-size: 18px;
    letter-spacing: 15px;
    font-family: Philosopher;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 28px;
}
.home-02 .banner-box .banner-box-item {
    position: relative;
    overflow: hidden;
}
.home-02 .banner-box-item:hover .banner-thumb img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .8;
}
.home-02 .banner-box .banner-thumb img {
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    transition: linear 0.3s;
}
.home-02 .banner-box .banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-02 .banner-box .banner-text p{
    color: #fff;
    font-size: 48px;
    letter-spacing: 15px;
    font-family: Philosopher;
    text-transform: uppercase;
}
.home-02 .blog-box .show_meta_day_month .the_month {
    font-family: philosopher;
    font-size: 30px;
    line-height: 30px;
    color: #92a86b;
    position: absolute;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    font-style: normal;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.home-02 .site-bottom .site-bottom-content{
    background: #f4f6f9;
    padding: 17px 30px;
}
.home-02 .site-bottom .back-to-top a{
    color: #92a86b;
    border-color: #92a86b;
}
.home-02 .site-footer{
    background: transparent;
}
.home-02 .site-bottom{
    background: transparent;
    padding: 0;
    height: auto;
}
.home-02 .footer-item ul li a:hover {
    color: #92a86b;
}
.home-02 .copyright a{
    color: #92a86b;
}
.home-02 .home-02 .site-footer{
    padding-top: 60px;
}
/*  animation sonarEffect  */

@-webkit-keyframes sonarEffect2 {
    0% { opacity:0.3; }
    40% {
        opacity:0.5;
        box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #92a86b, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #92a86b, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform:scale(1.5);
        opacity:0;
    }
}
@-moz-keyframes sonarEffect2 {
    0% { opacity:0.3; }
    40% {
        opacity:0.5;
        box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #92a86b, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #92a86b, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform:scale(1.5);
        opacity:0;
    }
}
@keyframes sonarEffect2 {
    0% { opacity:0.3; }
    40% {
        opacity:0.5;
        box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #92a86b, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #92a86b, 0 0 0 10px rgba(255,255,255,0.5);
        transform:scale(1.5);
        opacity:0;
    }
}