.home-04 .login-submit input[type="submit"],
.home-04 .btn-default.active.focus, 
.home-04 .btn-default.active:hover, 
.home-04 .btn-default.active:focus, 
.home-04 .btn-default.focus:active, 
.home-04 .btn-default:active:focus, 
.home-04 .btn-default:active:hover, 
.home-04 .open > .dropdown-toggle.btn-default.focus, 
.home-04 .open > .dropdown-toggle.btn-default:focus, 
.home-04 .open > .dropdown-toggle.btn-default:hover, 
.home-04 .btn-default.active, .btn-default:active, 
.home-04 .open > .dropdown-toggle.btn-default,
.home-04 .bootstrap-select > .dropdown-toggle,
.home-04 .bootstrap-select.btn-group .dropdown-menu,
.home-04 .shop-item .widget_shopping_cart_content .buttons a:hover,
.home-04 .cart-control .cart-number {
    background-color: #c0aa62;
}
.home-04 .shop-item .widget_shopping_cart_content .buttons a:hover,
.home-04 .home-slider .owl-nav div:hover,
.home-04 .mega-item .menu-title:after,
.home-04 .shop-item .widget_shopping_cart_content .total,
.home-04 .footer-item .tags_clound ul li a:hover,
.home-04 .site-bottom .back-to-top a {
    border-color: #c0aa62;
}
.home-04 .dropdown-menu > li > a:focus, 
.home-04 .dropdown-menu > li > a:hover {
    background-color: #a69354;
}

.home-04 .main-menu > ul > li > a{
    padding-bottom: 25px;
    color: #363636;
}
.home-04 .main-menu .sub-menu li:hover > a,
.home-04 .main-menu > ul > li:hover > a, 
.home-04 .main-menu ul li.current-menu-item > a,
.home-04 a:hover,
.home-04 .modal-footer a:hover,
.home-04 .right-header ul li a:hover,
.home-04 .shop-item ul.cart_list > li .p-info .price,
.home-04 .shop-item ul.cart_list > li .p-info a.p-title:hover,
.home-04 .shop-item .widget_shopping_cart_content .total .woocommerce-Price-amount,
.home-04 .home-slider .owl-nav .owl-next:hover:before,
.home-04 .home-slider .owl-nav .owl-prev:hover:before,
.home-04 .site-bottom .social ul li a:hover,
.home-04 .footer-item .tags_clound ul li a:hover,
.home-04 .bot-footer ul li a:hover,
.home-04 .left-header .icon_setting:hover,
.home-04 .setting-wrap ul.setting-account-list li a:hover, 
.home-04 .currency ul li a:hover,
.home-04 .copyright a,
.home-04 .site-bottom .back-to-top a,
.home-04 .footer-item ul li a:hover {
    color: #c0aa62;
}
.sticky-bg .home-04 .main-menu > ul > li > a{
    line-height: 38px;
    padding-bottom: 15px;
}
.home-04 .header-menu .container {
    width: auto;
    margin-left: 140px;
}
.home-04 .site-brand {
    float: left;
}
.home-04 .header-menu{
    padding: 0;
    float: left;
}
.home-04 .top-header {
    padding-left: 75px;
    padding-right: 75px;
}
.home-04 .right-header-content{
    position: relative;
    float: right;
}
.home-04 .right-header,
.home-04 .left-header{
    position: static;
    display: inline-block;
    vertical-align: middle;
}
.home-04 .left-header {
    float: right;
    margin: 0 0 0 50px;
}
.home-04 .site-header{
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 999;
}
.home-04 .header-menu{
    background: transparent;
    z-index: 999;
}
.home-04 .right-header ul li a{
    color: #363636;
}
.home-04 .right-header ul li a:hover{
    color: #c0aa62;
}
.home-04 .cart-control .cart-number{
    background: #c0a16b;
}
.home-04 .left-header .icon_setting:hover{
    color: #c0a16b;
}
.sticky-bg.home-04 .header-menu{
    position: static;
    width: auto;
}
.sticky-bg.home-04 .top-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 75px;
    height: 68px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.sticky-bg.home-04 .top-header{
    overflow: unset;
}
.sticky-bg.home-04 .header-menu{
    padding: 0;
    background: transparent;
}
.home-04 .title-box h2{
    color: #c0a16b;
}
.home-04 .home-slider .slider-content {
    top: 30%;
}
.home-04 .slider-content .title-box {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.home-04 .home-slider-item.active .slider-content .title-box {
    opacity: 1;
    visibility: visible;
}
.home-04 .home-slider .slider-btn a{
    border: 1px solid #c0a16b;
    background: #c0a16b;
}
.home-04 .home-slider .slider-btn a:hover{
    background: #FFF;
    border-color: #c0a16b;
}
.home-04 .home-slider .slider-container {
    max-width: 470px;
    text-align: center;
}
.home-04 .ct-info-box-wrap {
    background: #f4f6f9;
    overflow: hidden;
}
.home-04 .ct-info-box-wrap .tb-info-box {
    position: relative;
}
.home-04 .ct-info-box-wrap .tb-info-box .tb-image .img-responsive {
    width: 100%;
}
.home-04 .ct-info-box-wrap .tb-info-box .tb-image >img {
    transition: all .3s;
}
.home-04 .ct-info-box-wrap .tb-info-box .tb-content {
    z-index: 2;
    text-align: center;
    position: relative;
    top: -45px;
}

.title_main_text {
    text-align: center;
}
.home-04 .txt_right .txt-pinyon,
.home-04 .txt_right .title_heading{
    text-align: right;
}
.home-04 .txt_border .tb-info-box .txt-pinyon {
    font-size: 24px;
    color: #898989;
    line-height: 48px;
    margin-bottom: 15px;
}
.home-04 .txt_border .tb-info-box .tb-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 260px;
    height: 200px;
    border: 2px dashed #c3c5c7;
    left: 25px;
}
.home-04 .ct-info-box-wrap .title-box .text_percent{
    font-size: 72px;
    color: #c0a16b;
    line-height: 22px;
    font-weight: bold;
    display: inline;
    letter-spacing: 15px;
}
.home-04 .ct-info-box-wrap.txt_center .title_heading{
    line-height: 28px;
}
.home-04 .featured-tab{
    margin-top: 25px;
}
.home-04 .countdown{
    margin-top: 55px;
}
.home-04 .deal-week .title_main_text{
    margin-top: 140px;
}
.home-04 .copyright a{
    color: #c0a16b;
}
.home-04 .text_sub_decs{
    font-size: 48px;
    margin-top: 10px;
    letter-spacing: 15px;
    line-height: 22px;
    color: #363636;
    font-weight: bold;
}
.home-04 .txt_border .title-box {
    padding-top: 15px;
    padding-left: 15px;
}
.home-04 .txt_left .title-box .txt-pinyon,
.home-04 .txt_left .title-box .title_heading{
    text-align: left;
}
.home-04 .txt_border .title-box p{
    font-size: 72px;
    color: #898989;
    display: inline-block;
    letter-spacing: 15px;
    margin-bottom: 0;
}
.home-04 .ct-info-box-wrap.txt_left .tb-info-box .tb-content {
    margin-left: 50px;
}
.home-04 .ct-info-box-wrap.txt_right .tb-info-box .tb-content {
    position: absolute;
    width: 100%;
    right: 45px;
    top: 137px;
}
.home-04 .ct-info-box-wrap .title-box > *{
    font-size: 30px;
}
.home-04 .ct-info-box-wrap{
    margin-bottom: 10px;
}
.padding-right5{
    padding-right: 5px;
}
.padding-left5{
    padding-left: 5px;
}
.home-04 .featured-tab-heading ul li a.active,
.home-04 .featured-tab-heading ul li a:hover{
    color: #c0aa62;
}
.home-04 .hover-p .p-thumb {
    border-color: #c0aa62;
}
.home-04 .button:hover {
    border-color: #c0aa62;
    background-color: #c0aa62;
    color: #fff;
}
.home-04 .featured-box {
    padding: 100px 0;
}
.home-04 .owl-carousel .owl-item img{
    width: auto;
    display: inline-block;
}
.home-04 .featured-box .p-info .price {
    color: #c0aa62;
}

.home-04 .btn-circle:hover:after{
    -webkit-animation: sonarEffect2 1.3s ease-out 75ms;
    -moz-animation: sonarEffect2 1.3s ease-out 75ms;
    animation: sonarEffect2 1.3s ease-out 75ms;
}
.home-04 .p-thumb .onnew:after,
.home-04 .p-thumb .onnew{
    background: #c0aa62;
}
.home-04 .btn-viney:hover{
    background: #c0aa62;
    border-color: #c0aa62;
}
.home-04 .countdown ul li:first-child{
    margin-left: 0;
}
.home-04 .countdown ul li:last-child{
    margin-right: 0;
}
.home-04 .countdown ul li{
    margin: 0 28px;
    font-family: "Josefin Sans";
}
.home-04 .countdown ul li span{
    font-family: Cinzel;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2em;
}
.home-04 .countdown ul li {
    background: url(../images/assets/home4-cd-bg.png) no-repeat center center;
    padding: 35px 0;
}
.home-04 .deal-week{
    padding: 100px 0;
    background: #f4f6f9;
}
.home-04 .best-seller{
    padding: 100px 0;
}
.home-04 .big-item .p-thumb{
    padding: 0;
}
.home-04 .blog-item .reading{
    color: #898989;
    font-size: 13px;
    letter-spacing: 0.2em;
    line-height: 36px;
    display: inline-block;
    margin-top: 15px;
}
.home-04 .blog-item .blog-thumb{
    margin-bottom: 30px;
}
.home-04 .blog-item span.blog-info{
    font-size: 12px;
    color: #b7b7b7;
    font-style: italic;
    letter-spacing: 0.2em;
    line-height: 36px;
    display: block;
    text-align: center;
}
.home-04 .blog-item h3{
    font-size: 24px;
    letter-spacing: 0.2em;
    line-height: 36px;
    text-align: center;
    margin-bottom: 5px;
}
.home-04 .blog-box .blog-box-list{
    margin-top: 50px;
}
.home-04 .brands{
    margin-top: 50px;
}
.brands li .brand-item {
    max-width: 295px;
    height: 175px;
    text-align: center;
    position: relative;
}
.brands li .brand-item .ro-brand-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.brands li:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgba(255,255,255,0.7);
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transition: all .3s;
}
.brands li:hover:after {
    width: 0;
    height: 0;
}
.brands li {
    border: 1px solid #e5e5e5;
    position: relative;
}
.brands li:nth-child(1), .brands li:nth-child(2), .brands li:nth-child(3), .brands li:nth-child(4) {
    border-left: none;
    border-top: none;
}
.brands li:nth-child(5), .brands li:nth-child(6), .brands li:nth-child(7), .brands li:nth-child(8) {
    border-left: none;
    border-top: none;
    border-bottom-color: transparent;
}
.home-04 .subscribe-box p{
    font-size: 12px;
    color: #898989;
    letter-spacing: 1em;
    line-height: 30px;
    text-align: center;
}
.home-04 .subscribe-box form {
    text-align: center;
}
.home-04 .subscribe-box form input[type='email']{
    width: 370px;
    display: inline-block;
    text-align: center;
    margin-bottom: 55px;
    border-color: #c0a16b;
}
.home-04 .subscribe-box .btn-viney:hover{
    background: #c0a16b;
}
.home-04 .subscribe-box .btn-viney{
    background: transparent;
}
.home-04 .subscribe-box{
    margin-top: 80px;
}
.home-04 .subscribe-box h3{
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-align: center;
}
.home-04 .site-bottom{
    background: #f4f6f9;
}
.home-04 .site-footer{
    background: #fff;
}
.home-04 .site-bottom .back-to-top a{
    color: #c0a16b;
    border-color: #c0a16b;
}
.home-04 a:hover{
    color: #c0a16b;
}
.home-04 .btn-viney:hover{
    color: #fff;
}
.home-04 .banner-v4 .title-box {
    text-align: inherit;
}
.home-04 .title-box {
    text-align: center;
}
.home-04 .banner-v4 .title-box h2:before,
.home-04 .banner-v4 .title-box h2:after{
    display: none;
}
.home-04 .title-box h2:before,
.home-04 .title-box h2:after{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 93px;
    height: 5px;
    background: url("../images/assets/home4-before.png") no-repeat center;
    left: -120px;
}
.home-04 .title-box h2:after{
    background: url("../images/assets/home4-after.png") no-repeat center;
    left: auto;
    right: -120px;
}
.home-04 .banner-v4 .title-box h2{
    display: block;
}
.home-04 .title-box h2{
    display: inline-block;
    position: relative;
}
.home-04 .best-seller-content{
    margin-top: 50px;
}
.home-04 .product-info .price, .home-04 .p-info .price{
    color: #c0a16b;
}
.home-04 .best-seller .owl-nav > div {
    cursor: pointer;
    border: 1px dashed #6e6666;
    background: none;
    width: 50px;
    height: 50px;
    line-height: 10px;
    position: absolute;
    display: block;
    z-index: 100;
    text-align: center;
    transition: all .3s;
    top: -125px;
    left: 0px;
}
.home-04 .best-seller .owl-nav .owl-next {
    left: auto;
    right: 0px;
}
.home-04 .owl-nav .owl-prev::before {
    content: "PREV";
    line-height: 19px;
    width: 30px;
    height: 30px;
    word-wrap: break-word;
    margin: 0 auto;
    padding-top: 5px;
    font-family: philosopher;
    font-size: 18px;
    letter-spacing: 3px;
    color: #363636;
    display: block;
}
.home-04 .owl-nav .owl-next:hover,
.home-04 .owl-nav .owl-prev:hover {
    border-color: #c0a16b !important;
}
.home-04 .owl-nav .owl-next:hover:before,
.home-04 .owl-nav .owl-prev:hover:before {
    color: #c0a16b;
}
.home-04 .owl-nav .owl-next::before {
    content: "NEXT";
    line-height: 18px;
    width: 30px;
    height: 30px;
    word-wrap: break-word;
    margin: 0 auto;
    padding-top: 5px;
    font-family: philosopher;
    font-size: 18px;
    letter-spacing: 3px;
    color: #363636;
    display: block;
}