
@media only screen and (max-width: 1550px) {
    .home-03 .right-header{
        right: 70px;
    }
    .home-03 .right-header ul li{
        margin-left: 30px;
    }
    .home-03 .main-menu > ul > li{
        margin: 0 28px;
    }
    .home-03 .featured-box .button.white {
        bottom: 470px;
    }
    .home-04 .header-menu .container {
        margin-left: 40px;
    }
}
@media only screen and (max-width: 1350px) {
    .home-02 .home-slider .owl-nav div{
        left: 15px;
    }
    .home-02 .home-slider .owl-nav .owl-next{
        right: 15px;
    }
    .home-02 .home-slider .owl-nav .owl-next:before,
    .home-02 .home-slider .owl-nav .owl-prev:before{
        color: #fff;
    }
    .home-03 .no-container{
        padding: 0;
    }
    .home-03 .top-header .no-container,
    .home-04 .top-header .no-container{
        padding: 0 15px;
    }
    .home-03 .footer-v3{
        margin-top: 0;
        margin-bottom: 0;
    }
    .home-04 .top-header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1199px) {
    .no-container{
        padding: 0 15px;
    }
    .main-menu .sub-menu.menu-mega {
        width: 940px;
        padding: 30px 0 30px 30px;
    }
    .sticky-bg .main-menu > ul > li{
        margin: 0 40px;
    }
    .freestyle-portf .light-line a img{
        height: 213px;
    }
    .freestyle-portf .portf-fs-item .portf-thumb img{
        height: 456px;
    }
    .freestyle-portf .port-item-2 .light-line a img{
        height: 456px;
    }
    .list-size li{
        margin-right: 15px;
    }
    .widget .f-price span{
        max-width: 100%;
    }
    .widget .f-price .button{
        margin: 15px 8px 10px 0;
    }
    /* SHOPPING CART */
    .input-text.cart-input input[type="text"],
    .cal-shipping .cart-input .selectbox{
        display: block;
        float: none;
        width: 100%;
    }
    .cal-shipping label.sl-label{
        top: 40px;
    }
    .cart-input #bill-code{
        width: 100%;
        margin-bottom: 15px;
    }
    .promotion-code .input-field #bill-code{
        width: 100%;
        margin-bottom: 15px;
    }
    .promotion-code .input-field:after{
        content: "";
        display: table;
        clear: both;
    }
    .inner-content-404 .title-404{
        margin-top: 78px;
        margin-bottom: 78px;
    }
    .inner-content-404 .inner-top:after{
        font-size: 336px;
    }
    .inner-content-404 .btn-div{
        width: auto;
    }
    .home-01 .inner-top .intro-image img{
        margin-top: 0;
    }
    .home-01 .product-box-content .product-thumb,
    .home-03 .product-box-content .product-thumb{
        width: 100%;
    }
    .home-03 .product-box-title h4:after,
    .home-01 .product-box-title h4:after{
        width: 35px;
        left: 68%;
    }
    .home-01 .product-box-content .p-actions,
    .home-03 .product-box-content .p-actions{
        padding: 20px 0;
    }
    .product-box-content .p-actions a{
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .product-box-content .p-actions a span{
        line-height: 28px;
    }
    .home-03 .header-menu{
        top: 7px;
        right: 75px;
    }
    .home-03 .right-header-content {
        right: 120px;
    }
    .home-03 .right-header ul li{
        margin-left: 20px;
    }
    .home-03 .right-header {
        right: 50px;
    }
    .home-03 .main-menu > ul > li {
        margin: 0;
    }
    .sticky-bg .top-header .col-md-3:last-child{
        display: none;
    }
    .sticky-bg .top-header .col-md-6{
        width: 75%;
    }
    .home-03 .countdown ul li,
    .home-04 .countdown ul li{
        width: 25%;
        float: left;
        margin: 0 0 15px;
        background-size: auto 100%;
    }
    .main-menu > ul > li{
        margin: 0 40px;
    }
    .right-header{
        right: 125px;
    }
    .right-header ul li{
        margin-left: 20px;
    }
    .right-header ul li:first-child{
        margin-left: 0;
    }
    .header-menu{
        position: absolute !important;
        top: 42px;
        right: 75px;
        padding-top: 6px;
    }
    .header-menu .container{
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }
    .mobile-menu{
        display: inline-block;
        vertical-align: middle;
    }
    .main-menu{
        position: relative;
    }
    .main-menu > ul{
        position: absolute;
        top: 150px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        width: 280px;
        background-color: #111111;
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        z-index: -1;
    }
    .main-menu.open > ul{
        opacity: 1;
        visibility: visible;
        top: 72px;
        z-index: 999;
        overflow-y: auto;
        max-height: 320px;
        padding: 0 15px;
    }
    .main-menu > ul > li{
        display: block;
        margin: 0;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    }
    .main-menu > ul > li:last-child {
        border-bottom: none;
    }
    .main-menu > ul > li > a{
        padding-bottom: 0;
    }
    .main-menu .sub-menu {
        position: relative;
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        background-color: #111;
        padding: 0 0 15px;
        width: 100%;
    }
    .main-menu .sub-menu li:hover > ul,
    .main-menu .sub-menu ul{
        top: 0;
        left: 0;
    }
    .main-menu .sub-menu.menu-mega {
        width: auto;
        padding: 0 20px;
    }
    .main-menu .sub-menu.menu-mega .mega-item,
    .main-menu .sub-menu.menu-mega2 .mega-item:nth-child(3),
    .main-menu .sub-menu.menu-mega .mega-item.image {
        float: none;
        width: auto;
        padding: 0 0 15px;
    }
    .main-menu .sub-menu.menu-mega li a {
        padding: 7px 0;
    }
    .home-02 .top-header {
        z-index: 2;
    }
    .home-02 .header-menu,
    .home-01 .header-menu{
        padding-top: 6px;
        width: auto;
    }
    .home-02 .header-menu{
        top: 38px;
        right: 0;
        left: 0;
    }
    .home-02 .header-menu .container {
        max-width: 970px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .home-02 .main-menu{
        padding-top: 0;
        border-top: none;
        float: right;
        width: auto;
        z-index: 1000;
    }
    .home-01 .header-menu .main-menu,
    .home-02 .header-menu .main-menu,
    .home-03 .header-menu .main-menu,
    .home-04 .header-menu .main-menu{
        overflow: hidden;
    }
    .home-01 .header-menu .main-menu.open,
    .home-02 .header-menu .main-menu.open,
    .home-03 .header-menu .main-menu.open,
    .home-04 .header-menu .main-menu.open{
        overflow: visible;
    }
    .home-01 .mobile-menu,
    .home-02 .mobile-menu,
    .home-03 .mobile-menu,
    .home-04 .mobile-menu{
        color: #363636;
    }
    .home-02 .right-header{
        right: 45px;
    }
    .home-03 .main-menu > ul > li > a,
    .home-02 .main-menu > ul > li > a{
        color: #fff;
    }
    .home-03 .left-header {
        border: none;
        padding-left: 0;
        margin-left: 30px;
    }
    .sticky-bg .home-03 .top-header {
        position: static;
    }
    .home-04 .header-menu {
        right: 40px;
    }
    .home-04 .right-header-content {
        margin-right: 45px;
    }
    .home-04 .left-header {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1070px) {
    .home-03 .home-slider .owl-nav div{
        left: 25px;
    }
    .home-03 .home-slider .owl-nav .owl-next{
        left: auto;
        right: 25px;
    }
    .home-03 .home-slider .slider-content img{
        width: 250px;
    }
    .product-box-content .product-thumb {
        height: auto;
    }
}
@media only screen and (max-width: 991px) {
    .home-02 .header-menu .container {
        max-width: 750px;
    }
    .home-03 .home-slider .text-right, 
    .home-03 .home-slider .text-left {
        max-width: 400px;
    }
    /* ABOUT US */
    .our-team-item .info-profile{
        max-width: 90%;
        padding: 15px 0 0 15px;
    }
    .info-name {
        font-size: 18px;
    }
    .left-sidebar-content .site-main{
        float: none;
    }
    .comment-form .comment-form-author{
        width: 50%;
        padding-right: 15px;
    }
    .comment-form .comment-form-email {
        width: 50%;
        padding-left: 15px;
    }
    .comment-form input[type="text"], .content-fullwidth .comment-form input[type="email"] {
        width: 100%;
    }
    .post .post-date {
        margin: 20px 0 25px;
    }
    /* COMMING SOON */
    .page-comming-soon #wrapper{
        background-size: cover;
        overflow-y: auto;
    }
    .countdown ul li{
        margin: 0 15px;
    }
    /* PORTFOLIO */
    .tb-content-block{
        margin-top: 20px;
    }
    .freestyle-portf .light-line a img{
        height: auto;
    }
    .freestyle-portf .portf-fs-item .portf-thumb img{
        height: 356px;
    }
    .freestyle-portf .port-item-2 .light-line a img{
        height: 356px;
    }
    #web_design .portf-thumb .portf-info{
        width: 100%;
    }
    /* PRODUCT DETAILS */
    .product-detail .list-size li{
        margin-right: 20px;
    }
    .p-tag-share .p-tags,
    .p-tag-share .social{
        float: none;
        margin-left: 0;
    }
    /* SHOP LIST */
    .products .p-tags{
        height: auto;
        background-position: left 15px;
        line-height: 36px;
        padding: 12px 0 12px 56px;
    }
    /* Shopping cart */
    tbody td .list-color{
        margin-right: 30px;
    }
    .cart-collaterals .widget{
        margin-bottom: 30px;
    }
    .inner-content-404 .inner-text{
        width: 80%;
    }
    .inner-content-404 .inner-top:after{
        font-size: 265px;
        letter-spacing: 130px;
    }
    .inner-content-404 .title-404 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    
    .inner-top .intro-image img{
        margin-top: 0;
    }
    .infor-item .social li{
        padding: 0 15px;
    }
    .home-01 .product-box-content .p-actions,
    .home-03 .product-box-content .p-actions{
        position: relative;
        opacity: 1;
        visibility: visible;
    }
    .home-03 .product-box-title h4,
    .home-01 .product-box-title h4{
        letter-spacing: 0.1em;
    }
    .home-03 .product-box-title h4:after,
    .home-01 .product-box-title h4:after{
        display: none;
    }
    .home-03 .slider-product .owl-carousel .owl-nav .owl-next,
    .home-01 .slider-product .owl-carousel .owl-nav .owl-next{
        right: 0;
    }
    .home-01 .product-box-content .product-info h3.title{
        line-height: 26px;
    }
    .star-rating{
        margin-bottom: 0;
    }
    .home-01 .event_winnes .colum_a .show_time_day .the_date_time{
        font-size: 16px;
    }
    .home-01 .blog-box .colum_b .show_text_read,
    .home-01 .blog-box .colum_b .show_text_read .show_post_text,
    .home-01 .blog-box .colum_b .show_meta_day_month .the_date{
        text-align: left;
    }
    .home-01 .blog-box .colum_b .show_meta_day_month .the_month{
        right: auto;
        left: 0;
    }
    .home-01 .blog-box .blog-box-list .thumb-right,
    .home-02 .blog-box .blog-box-list .thumb-right{
        float: left !important;
    }
    .blog-box-list .colum_a,
    .blog-box-list .colum_b{
        margin-bottom: 30px;
    }
    .home-03 .site-brand{
        float: none;
        text-align: left;
    }
    .home-03 .featured-tab-heading ul li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }
    .home-03 .featured-box{
        background-size: 0;
    }
    .home-03 .featured-box-button {
        text-align: center;
    }
    .home-03 .featured-box .button.white{
        position: static;
        transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        margin: 0;
    }
    .home-03 .featured-box{
        padding-bottom: 80px;
    }
    .home-03 .countdown ul li,
    .home-04 .countdown ul li{
        width: 50%;
    }
    .home-03 .infor-us{
        margin-top: 0;
    }
    .home-03 .event_winnes .colum_a .show_time_day:after{
        height: 190px;
        left: 220px;
        top: -45px;
    }
    .home-03 .event_winnes .colum_a .show_the_sale:before{
        height: 190px;
        top: -45px;
    }
    .home-04 .txt_left .title-box .title_heading{
        line-height: 35px;
    }
    .brands li:nth-child(5), .brands li:nth-child(6), .brands li:nth-child(7), .brands li:nth-child(8){
        border-bottom-color: #e5e5e5;
    }
    .home-04 .deal-week .title_main_text{
        margin-top: 60px;
    }
}

@media only screen and (max-width: 890px) {
    .search-popup .popup-inner{
        max-width: 95%;
    }
    .search-popup .popup-inner form{
        width: 90%;
    }
}

@media only screen and (max-width: 830px) {
    .title_main_text .countdown ul li{
        width: 25%;
        float: left;
        margin: 0 0 15px;
        background-size: auto 100%;
    }
    .home-01 .home-slider .owl-nav div{
        left: 25px;
    }
    .home-01 .home-slider .owl-nav .owl-next{
        left: auto;
        right: 15px;
    }
    .home-01 .home-slider .slider-content{
        height: 100%;
        padding-top: 50px;
    }
    .home-01 .home-slider .active .slider-content img{
        width: 60%;
        margin: 0 auto;
    }
    .home-01 .active .slider-btn{
        margin-top: 35px;
    }
}
@media only screen and (max-width: 767px) {
    .blog-breadcrumb .container{
        width: 100%;
    }
    .top-header{
        padding: 100px 0 70px;
    }
    .left-header{
        left: 25px;
    }
    .right-header{
        right: 75px;
    }
    .header-menu{
        right: 25px;
    }
    .main-menu.open > ul{
        top: 40px;
    }
    .site-bottom{
        height: auto;
    }
    .site-bottom .social,
    .site-bottom .icon-c{
        float: none;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .site-bottom .back-to-top{
        position: relative;
        left: 0;
        margin-left: 0;
        margin-bottom: 20px;
        display: inline-block;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
        width: 200px;
    }
    .search-div {
        padding-left: 200px;
    }
    /* BLOG */

    .single-share{
        float: none;
    }
    .tags-links{
        display: block;
        margin-bottom: 10px;
    }
    .comment-body{
        margin-left: 0;
        padding-left: 5px;
    }
    .comment-body:before{
        display: none;
    }
    .comment-list .children{
        padding-left: 30px;
    }
    .comment-avatar{
        margin-bottom: 10px;
    }
    .post .post-thumb,
    .content-fullwidth .post .post-thumb{
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .post{
        margin-bottom: 30px;
    }
    .post.align-right .post-info{
        text-align: left;
    }
    /* SHOP LIST */
    .sort .row > div{
        width: 50%;
        float: left;
        margin-bottom: 15px;
    }
    .list .p-thumb{
        margin-bottom: 15px;
    }
    /* PRODUCT DETAIL */

    .p-preview{
        width: 100%;
        float: none;
    }
    .product-detail .images .p-thumb{
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        z-index: 999;
    }
    .product-detail .images .p-thumb ul li{
        margin-top: 15px;
    }
    .product-detail .images .p-thumb a{
        height: 100px;
        line-height: 100px;
    }
    .product-detail .images .p-thumb img{
        max-width: 95%;
        max-height: 95%;
    }
    .product-item .p-info .p-actions{
        position: relative;
        opacity: 1;
        visibility: visible;
        margin-top: 15px;
    }
    .p-select .sl-sizes{
        text-align: left;
        margin-top: 15px;
    }
    /* COMMING SOON */

    .countdown ul li{
        margin: 0 15px 15px;
    }
    .page-comming-soon .site-main .inner-content{
        padding: 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
    }
    .follow-us-social{
        margin-bottom: 60px;
    }
    /* CONTACT US */
    .contact-form-page{
        margin-bottom: 30px;
    }
    .contact-form-page .title-form-ct{
        line-height: 1.4;
    }
    .freestyle-portf .portf-fs-item .portf-thumb img{
        height: auto;
    }
    .freestyle-portf .port-item-2 .light-line a img{
        height: auto;
    }
    .inner-content-404 .inner-top:after{
        content: "4 0 4";
        text-align: justify;
        letter-spacing: 0;
    }
    /* HOME */
    .intro-image{
        margin: 0 auto 30px;
        max-width: 90%;
    }
    .home-01 .title_main_text{
        margin-bottom: 30px;
    }
    .home-01 .event_winnes .colum_a .show_the_sale,
    .home-03 .event_winnes .colum_a .show_the_sale{
        position: absolute;
        top: 0;
        right: 0;
    }
    .home-02 .banner-box .banner-thumb img{
        width: 100%;
    }
    .home-02 .banner-box .banner-box-item{
        margin-bottom: 15px;
    }
    .welcome-box > .row > div{
        margin-bottom: 30px;
    }
    .home-02 .header-menu{
        right: 15px;
    }
    .home-02 .left-header{
        top: -62px;
    }
    .home-02 .right-header{
        right: 60px;
        top: -60px;
    }
    .home-02 .home-slider .slider-content h2{
        font-size: 60px;
        margin-bottom: 30px;
    }
    .home-02 .home-slider .slider-content{
        width: 100%;
    }
    .home-03 .inner-top .intro-image img{
        width: auto;
        margin: 0 auto;
    }
    .home-03 .event_winnes .colum_a .show_the_sale:before,
    .home-03 .event_winnes .colum_a .show_time_day:after{
        display: none;
    }
    .home-03 .event_winnes .colum_a .show_content .get_context,
    .home-03 .event_winnes .colum_a .show_content .get_text{
        text-align: left;
    }
    .home-03 .deal-week .title_main_text{
        margin-bottom: 30px;
    }
    .home-03 .countdown ul li{
        width: 25%;
    }
    .home-03 .home-slider .slider-content img{
        width: 200px;
    }
    .home-03 .header-menu{
        margin-right: 0;
    }
    .banner-v4 .padding-right5{
        padding-right: 15px;
    }
    .banner-v4 .padding-left5{
        padding-left: 15px;
    }
    .home-04 .blog-item .blog-thumb{
        text-align: center;
    }
    .home-04 .brands{
        padding-right: 15px;
        padding-left: 15px;
    }
    .brands li:nth-child(2), .brands li:nth-child(4), .brands li:nth-child(6), .brands li:nth-child(8){
        border-right: none;
    }
    .home-04 .best-seller .owl-nav > div{
        top: -90px;
    }
    .deal-week .image_int.deal_of_weekh3_img{
        display: none;
    }
    .home-04 .top-header{
        padding: 42px 40px 35px;
    }
    .home-04 .home-slider .title-box h2,
    .home-04 .home-slider .title-box h3{
        margin-left: 0;
        text-align: center;
        display: block;
    }
    .home-04 .home-slider .slider-content{
        width: 100%;

    }
    .home-04 .home-slider .slider-container{
        text-align: center;
    }
    .home-04 .home-slider .slider-container .slider-btn{
        margin-left: auto;
        margin-top: 35px;
    }
    .home-04 .site-header{
        position: relative;
    }
    .home-04 .site-brand{
        text-align: left;
    }
    .home-04 .home-slider .owl-nav div{
        left: 10px;
    }
    .home-04 .home-slider .owl-nav .owl-next{
        left: auto;
        right: 10px;
    }
    .home-04 .title-box h2:before{
        left: 0;
    }
    .home-04 .title-box h2:after{
        right: 0;
    }
}

@media only screen and (max-width: 640px) {
    .no-container{
        padding: 0 15px;
    }
    .pagination ul{
        padding: 0 15px;
    }
    .pagination .prev{
        margin-right: 10px;
    }
    .pagination .next{
        margin-left: 10px;
    }
    .woocommerce .cart-form .cart-table{
        overflow: scroll;
    }
    .woocommerce table.shop_table{
        width: 700px;
    }
    .woocommerce .cart-form .cart-table table tbody tr td.table-col-name{
        padding: 20px 10px;
    }
    .compare-table{
        overflow: scroll;
    }
    .compare-table .shop_table{
        width: 610px;
    }
    .tabs-infor{
        padding-right: 0;
    }
    .inner-content-404 .inner-top:after {
        font-size: 225px;
    }
    .inner-content-404 .inner-text{
        width: 100%;
    }
    .inner-content-404 .btn-div a{
        margin: 0 auto 15px;
        display: block;
    }
    .search-form{
        width: 100%;
    }
    .home-slider .owl-carousel .owl-item .home-slider-item > img{
        min-height: 300px;
    }
    .home-03 .top-header {
        padding: 20px 0;
        text-align: center;
    }
    .home-03 .site-brand {
        position: static;
        padding-top: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .home-03 .right-header-content {
        position: static;
        display: inline-block;
        vertical-align: middle;
    }
    .home-03 .header-menu {
        position: static !important;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }
    .home-04 .top-header {
        padding: 20px 15px;
        text-align: center;
    }
    .home-04 .site-brand {
        float: none;
        padding-top: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    .home-04 .right-header-content,
    .home-04 .header-menu {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        float: none;
    }
    .home-04 .header-menu {
        position: static !important;
        margin-right: 20px;
    }
    .home-04 .header-menu .container {
        margin-left: 0;
    }
    .home-04 .main-menu > ul {
        right: auto;
        left: 0;
    }
}
@media only screen and (max-width: 540px) {
    .p-tags{
        height: auto;
        line-height: 36px;
        padding: 12px 0 12px 50px;
        background-position: left 15px;
    }
    .tags-links a{
        margin-bottom: 10px;
    }
    .shop-item{
        right: -65px;
    }
    .inner-content-404 .inner-top::after {
        display: none;
    }
    .inner-content-404 .title-404{
        line-height: 1.4;
    }
    .home-02 .home-slider .slider-content h3{
        font-size: 26px;
    }
    .home-02 .home-slider .slider-content h2{
        font-size: 52px;
    }
    .home-02 .home-slider{
        margin: 0 -15px;
    }
    .home-03 .home-slider .text-right, 
    .home-03 .home-slider .text-left {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .p-actions-btn,
    .attr-item{
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .sort .row > div{
        width: 100%;
        float: none;
    }
    .sort form{
        float: none !important;
    }
    .title_main_text .countdown ul li{
        width: 50%;
        margin-bottom: 20px;
    }
    .home-slider .owl-nav div{
        display: none;
    }
    .home-03 .home-slider .active .slider-btn{
        margin-top: 30px;
    }
    .home-03 .countdown ul li{
        width: 50%;
    }
}
@media only screen and (max-width: 415px) {
    .break-line span:before, .break-line span:after{
        width: 80px;
    }
    .comment-form .comment-form-author{
        width: 100%;
        padding-right: 0;
    }
    .comment-form .comment-form-email {
        width: 100%;
        padding-left: 0;
    }
    .comment-avatar{
        display: none;
    }
    .p-select ul{
        margin-left: 0;
        margin-top: 10px;
        display: block;
    }
    .home-slider .owl-carousel .owl-item .home-slider-item > img{
        min-height: 260px;
    }
    .home-02 .home-slider .slider-content h2{
        font-size: 45px;
        margin-bottom: 15px;
        margin-top: 0;
    }
    .home-02 .home-slider .slider-content h3{
        font-size: 22px;
    }
    .home-01 .event_winnes .colum_a .show_time_day .the_date,
    .home-03 .event_winnes .colum_a .show_time_day .the_date{
        font-size: 80px;
    }
    .home-01 .event_winnes .colum_a .show_time_day .the_month,
    .home-03 .event_winnes .colum_a .show_time_day .the_month{
        font-size: 36px;
    }
    .home-01 .event_winnes .colum_a .show_sale .the_sale,
    .home-03 .event_winnes .colum_a .show_sale .the_sale{
        font-size: 30px;
    }
    .home-01 .event_winnes .colum_a .show_sale .the_text_note,
    .home-01 .event_winnes .colum_a .show_sale .the_text_note{
        line-height: 20px;
    }
    .home-04 .title-box h2:before,
    .home-04 .title-box h2:after{
        width: 50px;
        background-size: 100% 100%;
    }
}